{% extends 'base.html' %}

{% block content %}
<a href="{% url 'Employee:employee_add' %}">Add new employee</a>
<h2>This is the {{title}} app</h2>
    <div>
        {% if users %}
        <ol>
            {% for user in users %}
            <li>
                {{user.username}}
                <br>
                <a href="{% url 'Employee:employee_details' user.id %}">details</a>
                <a href="{% url 'Employee:employee_edit' user.id %}">edit</a>
                <a href="{% url 'Employee:employee_delete' user.id %}">delete</a>

            </li>
            
            {% endfor %}
        </ol>  
        {% else %}
            <h3>There are no questions</h3>
        {% endif %}
    </div>

{% endblock content%}