{% extends 'base.html' %}

{% block content%}
<h2>This is the {{title}} app</h2>
    <div>
        {% if question %}
            <h3>{{question.title}}</h3>
            <ol>
                {% for choice in question.choices  %}
                <li>
                    {{choice.text}} ({{choice.votes}})
                </li>
                {% endfor %}
            </ol>  
        {% else %}
            <h3>Question does not exist or active</h3>
        {% endif %}
    </div>
    
{% endblock content%}