{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <form method="POST">
              {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="name" name="name">
                  </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="email" name="email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" placeholder="phone" name="phone">
                  </div>
                  <div class="form-group">
                    <label for="summary">Summary</label>
                    <input type="text" class="form-control" id="summary" placeholder="summary" name="summary">
                  </div>
                  <div class="form-group">
                    <label for="summary">Degree</label>
                    <input type="text" class="form-control" id="degree" placeholder="degree" name="degree">
                  </div>
                  <div class="form-group">
                    <label for="summary">School</label>
                    <input type="text" class="form-control" id="school" placeholder="school" name="school">
                  </div>
                  <div class="form-group">
                    <label for="summary">University</label>
                    <input type="text" class="form-control" id="university" placeholder="university" name="university">
                  </div>
                  <div class="form-group">
                    <label for="prework">Pre Work</label>
                    <input type="text" class="form-control" id="prework" placeholder="prework" name="prework">
                  </div>
                  <div class="form-group">
                    <label for="skills">Skils</label>
                    <input type="text" class="form-control" id="skills" placeholder="skills" name="skills">
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>



{% endblock content %}
