{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-0">Below are the polls</h5>
        </div>
        {% if questions %}
            <ul class="list-group list-group-flush">
                {% for question in questions %}
                <li class="list-group-item">
                    <a href="{% url 'poll_app:poll-vote' question.id %}">{{question.title}}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <h3>There are no polls created yet</h3>
        {% endif%}
    </div>
</div>

{% endblock content %}