{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-top:30px">
        <form method="POST" action="{% url 'poll_app:poll-details' question.id%}">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">{{question.title}}</h2>
                    <p>created by: {{question.created_by}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for choice in question.choices %}
                    <li class="list-group-item">
                        {{choice.choice}}
                        <input type="radio" name="answer" value="{{choice.id}}">
                    </li>
                    {% endfor %}
                </ul>
                <div class="card-body">
                    <button type="submit" value="vote">Vote</button>
                </div>
                
            </div>
        </form>
    </div>
    
{% endblock content %}